/* Default Styling start */
html{
    scroll-behavior: smooth;
}

*{
    margin :0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

li{
    list-style :none;
}

p{
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    color : #606060
}

i{
    color: #2fccd0;
}

img.img-fluid.img-thumbnail{
    cursor: default !important;
}

h1.font-weight-bold{
    font-size: 1.5rem;
}

/* Default Styling end */

.header{
    widows: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
    position: relative;
}

.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

/* Navbar start */
.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a{
    text-transform: capitalize;
    color: #fff !important;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 10px;
    padding: 6px 12px !important;
}

.nav-item a:hover{
    font-weight: bold;
    color : #50d1c0 !important;
    background : #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
/* Navbar end */

/* Banner start */
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkittransform: translate(-50%,-50%);
}

.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
}

.header-buttons a:hover{
    color : #50d1c0;
    background : #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}
/* Banner end */

/* Heading start */
.headings{
    margin-bottom: 50px;
}

.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* Heading end */

/* Category slider start */
.category{
    width: 100%;
    height: 77vh;
    padding: 80px 0;
}

.categoryImg{
    width:  100%;
    height: 100%;
}

.categoryText{
    font-size: 1rem !important;
    text-transform: capitalize !important;
}
/* Category slider end */

/* Services start */
.header-extradiv{
    width: 100%;
    height: auto;
    margin: -80px 0 100px 0;
    text-align: center;
}

.extradiv{
    background: #fff;
    border: medium none;
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
}

.extradiv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

.extradiv:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}
/* Service end */

/* Carousel Category & Clients start */
span.carousel-control-prev-icon, span.carousel-control-next-icon{
    width: 30px;
    height: 30px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px !important;
    opacity: 0;

}

.carousel-indicators li{
    background-color: #16c9f6 !important;
}
/* Carousel Category & Clients end */

/* Aboutus start */
.aboutus{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}

.aboutdiv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

img.aboutImg{
    width: 350px;
    height: 300px;
}
/* Aboutus end */


/* Some Content */
.project-work{
    margin: 100px 0;
}

.project-work h1{
    font-size: 2rem;
    text-align: center;
}
/* Some Content */

/* Portfolio start */
.portfolio{
    width: 100%;
    height: 80vh;
    padding: 100px !important;
    position: relative;
}

.portfolio:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}

.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}

.card{
    transition: 0.4s ease;
}

.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff !important;
    padding: 25px 9px !important;
}

.card-body{
    padding: 30px 0px !important;

}

.card-body li{
    margin : 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}

.card-footer{
    background: white !important;
    padding: 30px 0px !important;
}

.card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
}

.card:hover .card-footer a{
    color : #fff;
    background : #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}

.card-second{
    transform: translateY(-20px);
}
/* Portfolio end */


/* Customer feedback start */
.happyclients{
    width: 100%;
    height: 60vh;
    margin-top: 60px;
    margin-bottom: 100px;
}

.box{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}

.box:hover{
    background: #16c9f6;
}

.box:hover p{
    color: white;
}

.box a{
    position: relative;
}

.box a img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

.box a:after{
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: white;
    position: absolute;
    top: -100%;
    left: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1{
    font-size: 13px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}

.box h2{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
}
/*  Customer feedback end */

/* Contact us start */
.contactus{
    width: 100%;
    height: 60vh;
    padding: 45px 0;
    position: relative;
}

.contactus:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(330deg, #16c9f6 55%, #fff 0);
    z-index: -1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-button button{
    border: 2px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
}
    
.form-button button:hover{
    color : #50d1c0;
    background : #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

::placeholder{
    font-size: 0.85rem;
}
/* Contact us end */

/* Newsletter start */
.newsletter{
    width: 100%;
    height: auto;
    margin: 80px auto;
}

.newsInput{
    border-radius: 100px 0px 0px 100px !important;
    min-width: 150px;
    min-height: 45px;
}

.input-group-text{
    color: #fff;
    background: #5bc0de;
    border-radius: 0px 100px 100px 0 !important;
    min-width: 130px;
    min-height: 40;
}
/* Newsletter end */

/* Footer start */
.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #16c9f6;
    position: relative;
}

.footersection p{
    color: #fff !important;
}

.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff !important;
    text-transform: capitalize;
}

.footersection h3, .footersection h4{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
/* Arrow up button */
#myBtn{
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover{
    background: #606060;
}
/* Footer end */
