/*  Media Queries */
@media (max-width : 768px) {
    .nav-item{
        text-align: center !important;
    }

    .portfolio, .category, .contactus  {
        height: auto;
        margin-top: 50px;
    }

    .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    }

    .contactus p{
        padding: 0 50px;
    }

    .box{
        margin-top: 20px;
    }

    .footer-div:nth-child(2){
        text-align: left !important;
    }

    .footer-div{
        margin: 30px 0;
    }
}

@media all and (max-width : 991px) {

.nav-item a{
    color: #fff !important;
    font-weight: bold;
    margin: 0 10px;
    padding: 6px 12px !important;
    text-align: center;
    text-transform: capitalize;
    border: none;
    }
}