/*  Media Queries */

@media (min-width : 1200px){
    h1.font-weight-bold{
        font-size: 2rem;
    }
    img.aboutImg{
        width: 350px;
        height: 300px;
    }
    button.buttonSubmit{
        border: 2px solid #fff !important;
        border-radius: 100px;
        margin: 0 5px;
        padding: 12px 35px;
        outline: none;
        color: #fff !important; 
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.4;
        text-align: center;
        text-decoration: none;
    }
    button.buttonSubmit:hover{
        color : #50d1c0 !important;
    background : #fff !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3) !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    h1.font-weight-bold{
        font-size: 2rem;
    }
    img.aboutImg{
        width: 300px;
        height: 250px;
        margin-top: 30px;
    }
    .card-footer a{
        margin: 0 5px;
        padding: 4px 9px;
    }
    img.tokopedia{
        width: 255px;
    }
}

@media (max-width : 771px) {
    .nav-item{
        text-align: center !important;
    }

    .nav-item a{
        color: #fff !important;
        font-weight: bold;
        margin: 0 10px;
        padding: 6px 12px !important;
        text-align: center;
        text-transform: capitalize;
        border: none;
    }

    section.category{
        margin : 10px 0 !important;
        padding: 10px 0 !important;
    }

    .category  {
        height: auto;
        margin-top: 50px;
    }

    .portfolio{
        height: auto;
        margin-top: 50px;
        padding-top: 100px !important;
        padding-bottom: 0px !important;
    }

    img.tokopedia{
        width: 240px;
    }

    .contactus{
        margin-top:440px;
        margin-bottom: 100px;
        height: 70vh !important;
    }

    .homeCard-second{
        transform: translateY(0px);
        margin: 30px 0;
    }

    .card-footer a{
        margin: 0 5px;
        padding: 12px 34px;
    }

    .header-extradiv h4{
        margin-top: 10rem;
    }

    .contactus p{
        padding: 0 50px;
    }

    .box{
        margin-top: 20px;
    }

    .footer-div:nth-child(2){
        text-align: left !important;
    }

    .footer-div{
        margin: 30px 0;
    }
}

@media (min-width: 575px) and (max-width: 767.98px) {
    .portfolio{
        margin-top: 50px;
    }
    .homeCard{
        width: 320px;
        margin: auto;
    }
}

@media (min-width :525px) and (max-width: 575.98px) {
    h1.font-weight-bold{
        font-size: 1.3rem;
    }
    .homeCard{
        width: 280px;
        margin: auto;
    }
    .form-button button{
        margin: -7px 5px;
        padding: 10px 35px;
    }
    .footersection h3, .footersection h4{
        margin-left: 6px;
    }
}

@media (min-width : 420px) and (max-width : 430px){
    .homeCard{
        width: 220px;
        margin-left: -10px;
    }
}

@media (min-width : 390px) and (max-width : 419px){
    .homeCard{
        width: 220px;
        margin-left: -23px;
    }
}

@media (min-width : 380px) and (max-width : 388px){
    .homeCard{
        width: 180px;
        margin-left: -10px;
    }
}


@media (min-width : 360px) and (max-width : 379px){
    .homeCard{
        width: 180px;
        margin-left: -20px;
    }
}

@media (min-width : 341px) and (max-width : 359px){
    .homeCard{
        width: 180px;
        margin-left: -30px;
    }
}

@media (min-width : 310px) and (max-width : 340px){
    .homeCard{
        width: 180px;
        margin-left: -35px;
    }
}

@media (min-width : 320px) and (max-width : 330px){
    .homeCard{
        width: 180px;
        margin-left: -40px;
    }
}

@media (min-width : 320px){
    .contactus{
        margin-top: 550px;
        margin-bottom: 200px;
    }
    button.buttonSubmit{
        border: 1px solid black;
        color: black;
    }
}

@media (min-width : 0px) and (max-width : 319px ){
    *{
        display: none;
    }
}