/*  Media Queries */

@media (max-width : 1500px){
    h1.font-weight-bold{
        font-size: 2rem;
    }
}

@media (max-width : 768px) {
    .nav-item{
        text-align: center !important;
    }

    section.category{
        margin : 10px 0 !important;
        padding: 10px 0 !important;
    }

    .portfolio, .category  {
        height: auto;
        margin-top: 50px;
    }

    .contactus{
        margin-top:440px;
        margin-bottom: 100px;
        height: 70vh !important;
    }

    .card{
        width: 300px;
        height: auto;
    }

    .card-second{
        transform: translateY(0px);
        margin: 30px 0;
    }

    .header-extradiv h4{
        margin-top: 5rem;
    }

    .contactus p{
        padding: 0 50px;
    }

    .box{
        margin-top: 20px;
    }

    .footer-div:nth-child(2){
        text-align: left !important;
    }

    .footer-div{
        margin: 30px 0;
    }
}

@media (max-width : 991px) {

.nav-item a{
    color: #fff !important;
    font-weight: bold;
    margin: 0 10px;
    padding: 6px 12px !important;
    text-align: center;
    text-transform: capitalize;
    border: none;
    }
}

@media (min-width : 768px) and (max-width : 801px) {
    .card-footer a{
        margin: 0 5px;
        padding: 4px 9px;
    }
    img.aboutImg{
        width: 300px !important;
        height: 250px !important;
    }
    section.contactus{
        margin-top: 100px;
    }
}

@media (max-width : 561px){
    h1.font-weight-bold{
        font-size: 1.5rem;
    }
    .form-button button{
        margin: -7px 5px;
        padding: 10px 35px;
    }
    .footersection h3, .footersection h4{
        margin-left: 6px;
    }
    
}

@media (max-width : 421px){
    h1.font-weight-bold{
        font-size: 1.2rem;
    }
}

@media (min-width : 0px) and (max-width : 380px ){
    *{
        display: none;
    }
}