/* Banner Product Start */
.header-product{
    widows: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url('../images/banner-product.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
    position: relative;
}

.header-product:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
/* Banner Product End */

/* Product Card start */
.product-box{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}

.product-box:hover{
    background: linear-gradient(160deg, #16c9f6 50%, #fff 0%);
}


.product-box:hover p{
    color: white;
}

.product-box a{
    position: relative;
}

.product-box a img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

.product-box a:after{
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: white;
    position: absolute;
    top: -100%;
    left: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-box h1{
    font-size: 13px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}

.product-box h2{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
}
/* Product Card end */


/* Product Carousel start */
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px !important;
}

.carousel-indicators li{
    background-color: #16c9f6 !important;
}
/* Product Carousel end */