<div class="container headings text-center">
    <h1 class="text-center font-weight-bold">
        WHY HYBEAST?
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-10 offset-1 offset-lg-0">
            <p class="text-justify mt-5"><span class="font-weight-bold">Hybeast</span> is a clothing-retail
                company known for its fast-fashion clothing for teenagers. For 5 years, Hybeast has been one of
                the world's leading fashion organization in asia, Hybeast cooperated with 7 countries in asia
                with over 300 stores operated under the various company brands. Don't admit that you are
                up-to-date if you don't know Hybeast, hybeast is officially made for those who are obsessed with
                everything that is up-to-date, especially for matters of appearance.</p>
        </div>

        <div class="col-lg-6 col-md-12 col-12 aboutdiv text-center">
            <img src="./images/about/logo-about.png" alt="aboutus" class="aboutImg">

        </div>
    </div>