<div class="container headings text-center mt-4">
    <h1 class="text-center font-weight-bold">
        CATEGORY
    </h1>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="container">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/category/tshirt.png" alt="1"
                                    class="img-fluid img-thumbnail"></a>
                            <h1 class="font-weight-bold mt-3 categoryText">T-Shirt</h1>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/category/short.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <h1 class="font-weight-bold mt-3 categoryText">Shorts</h1>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/category/trousers.png" alt="3"
                                    class="img-fluid img-thumbnail"></a>
                            <h1 class="font-weight-bold mt-3 categoryText">Trousers</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/category/jacket.png" alt="4"
                                    class="img-fluid img-thumbnail"></a>
                            <h1 class="font-weight-bold mt-3 categoryText">Jacket</h1>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/category/hoodie.png" alt="5"
                                    class="img-fluid img-thumbnail"></a>
                            <h1 class="font-weight-bold mt-3 categoryText">Hoodie</h1>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/category/sweater.png" alt="6"
                                    class="img-fluid img-thumbnail"></a>
                            <h1 class="font-weight-bold mt-3 categoryText">Sweater</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/category/shoes.png" alt="7"
                                    class="img-fluid img-thumbnail"></a>
                            <h1 class="font-weight-bold mt-3 categoryText">Shoes</h1>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/category/socks.png" alt="8"
                                    class="img-fluid img-thumbnail"></a>
                            <h1 class="font-weight-bold mt-3 categoryText">Socks</h1>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/category/acc.png" alt="9"
                                    class="img-fluid img-thumbnail"></a>
                            <h1 class="font-weight-bold mt-3 categoryText">Accessories</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>