<div class="container headings text-center">
    <h1 class="text-center font-weight-bold">
        CONTACT US
    </h1>
    <p class="text-capitalize font-weight-bold">We're Here to Help and Answer Any Question You Might Have. We
        Look Forward To
        Hearing From You 😊</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-md-2 offset-1">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your Name" id="username"
                        autoComplete="off" required>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter email" id="email" autoComplete="off"
                        required>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Enter Mobile Number" id="mobile"
                        autoComplete="off" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="4" id="message" placeholder="Enter your Message"
                        autoComplete="off" required></textarea>
                </div>

                <div class="d-flex justify-content-center form-button">
                    <button type="submit" class="btn btn-outline-primary buttonSubmit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>