<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 footer-div">
            <div>
                <h3>About Hybeast</h3>
                <p>
                    Hybeast is a Clothing-Retail Company Known for its fast-fashion Clothing for teenagers.
                </p>
                <div class="row mt-5">
                    <h4 class="text-white">Follow Us for More Information</h4>
                    <a href="https://wa.me/6281234567890" target="blank">
                        <i class="fa fa-whatsapp fa-2x ml-3 text-white" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/hybeast.clothing/?hl=id" target="blank">
                        <i class="fa fa-instagram fa-2x ml-3 text-white" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 text-center footer-div">
            <div class="">
                <h3>Navigation Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="product.html">Product</a></li>
                    <li><a href="#portfoliodiv">Portfolio</a></li>
                    <li><a href="#aboutus">About</a></li>
                    <li><a href="#contactdiv">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 footer-div">
            <div>
                <h3>Newsletter</h3>
                <p>
                    Subscribe to our Newsletter <br />
                    Get Notification for new Events or Offers
                </p>

                <div class="container newsletter-main">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="input-group mb-3 mt-4">
                                <input type="text" class="form-control newsInput" placeholder="Your Email">
                                <div class="input-group-append">
                                    <span class="input-group-text">Subscribe</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center">
        <p>Copyright @Hybeast 2020 All rights reserved</p>
    </div>

    <div class="scrolltop float-right">
        <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
    </div>
</div>