<div class="container headings text-center">
    <h1 class="text-center font-weight-bold">
        OUR HAPPY CLIENTS
    </h1>
    <p class="text-capitalize">Our Satisfied Customer Says</p>
</div>

<div id="client-demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="container">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/clients/1.jpeg" alt="1" class="img-fluid img-thumbnail"></a>
                            <p class="m-4">"I am proud buying fashionable clothing in hybeast, it makes me feel
                                swag"
                            </p>
                            <h1>Jamet</h1>
                            <h2>Profesional Comedian</h2>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/clients/2.jpeg" alt="2" class="img-fluid img-thumbnail"></a>
                            <p class="m-4">"Hybeast clothing never disappoint me, its cheap and dope"
                            </p>
                            <h1>Sakura</h1>
                            <h2>Actor</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/clients/3.jpeg" alt="3" class="img-fluid img-thumbnail"></a>
                            <p class="m-4">"I feel more confidence since i started using clothing brands from
                                Hybeast"
                            </p>
                            <h1>Dedy Corbuzier</h1>
                            <h2>Tv Host</h2>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/clients/4.jpeg" alt="4" class="img-fluid img-thumbnail"></a>
                            <p class="m-4">"The best up to date clothing store ever. looking forward for more
                                brother"
                            </p>
                            <h1>Uya kuya</h1>
                            <h2>Tv Host</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/clients/5.jpeg" alt="5" class="img-fluid img-thumbnail"></a>
                            <p class="m-4">"Thank you hybeast for the cheap and good lookings Outfit"
                            </p>
                            <h1>Vinod Thapa</h1>
                            <h2>Web Developer</h2>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/clients/6.jpeg" alt="6" class="img-fluid img-thumbnail"></a>
                            <p class="m-4">"I recommend you to buy in hybeast only if you are cool enough like
                                me"
                            </p>
                            <h1>Rafi Ahmad</h1>
                            <h2>Celebrity</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/clients/7.jpeg" alt="7" class="img-fluid img-thumbnail"></a>
                            <p class="m-4">"Be yourself and never surrender! with hybeast clothing i am
                                undefeated"
                            </p>
                            <h1>Jess No limit</h1>
                            <h2>Profesional Gamer</h2>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="box">
                            <a href="#"><img src="./images/clients/8.jpeg" alt="8" class="img-fluid img-thumbnail"></a>
                            <p class="m-4">"Still the best, Thanks again and again hybeast for the awesome and
                                attractive outfits"
                            </p>
                            <h1>Justin bieber</h1>
                            <h2>Singer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#client-demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#client-demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>