<div class="container headings text-center">
    <h1 class="text-center font-weight-bold">
        SUBSCRIBE TO OUR NEWSLETTER
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="input-group mb-3 mt-4">
                    <input type="text" class="form-control newsInput" placeholder="Your Email">
                    <div class="input-group-append">
                        <span class="input-group-text">Subscirbe</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>