<div class="container headings text-center">
    <h1 class="text-center font-weight-bold text-white mb-5 pb-3">
        OUR BEST SELLER
    </h1>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card homeCard text-center mb-5">
                <img src="./images/category/tshirt.png" alt="tshirt" class="categoryImg">
                <div class="card-body">
                    <li>Rp <span class="money">1.999.999</span>/pcs</li>
                </div>
                <div class="card-footer">
                    <a href="#">Purchase</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12 mb-5">
            <div class="card homeCard text-center">
                <img src="./images/category/shoes.png" alt="shoes" class="categoryImg">
                <div class="card-body">
                    <li>Rp <span class="money">2.899.999</span>/pcs</li>
                </div>
                <div class="card-footer">
                    <a href="#">Purchase</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <div class="card homeCard text-center">
                <img src="./images/category/hoodie.png" alt="hoodie" class="categoryImg">
                <div class="card-body">
                    <li>Rp <span class="money">1.599.999</span>/pcs</li>
                </div>
                <div class="card-footer">
                    <a href="#">Purchase</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>