<div class="container">
    <h4 class="mb-3 font-weight-bold">OUR SERVICES</h4>
    <div class="row pt-3">
        <div class="extradiv col-lg-3 col-md-6 col-12">
            <a href="#"><i class="fa-3x fa fa-truck"></i></a>
            <h2>Free Delivery</h2>
        </div>

        <div class="extradiv col-lg-3 col-md-6 col-12">
            <a href="#"><i class="fa-3x fa fa-refresh"></i></a>
            <h2>Return Policy</h2>
        </div>

        <div class="extradiv col-lg-3 col-md-6 col-12">
            <a href="#"><i class="fa-3x fa fa-headphones"></i></a>
            <h2>24/7 Support</h2>
        </div>

        <div class="extradiv col-lg-3 col-md-6 col-12">
            <a href="#"><i class="fa-3x fa fa-database"></i></a>
            <h2>Secure Payment</h2>
        </div>
    </div>
</div>