<div id="demo8" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
    </ul>

    <!-- The slideshow -->
    <div class="container">
        <h4 class="mb-4 font-weight-bold">Accessories</h4>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/acc/acc.png" alt="1"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">199.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Hybeast Bracelet 1th Gen
                                </h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/acc/acc2.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">299.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Hybeast Bracelet 1th Gen
                                </h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/acc/acc4.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">399.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Bape Mouth Mask</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/acc/acc3.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">599.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Off-White Bronze Earings
                                </h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo8" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo8" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>