<div id="demo3" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="container">

        <div data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <h4 class="mb-4 font-weight-bold">Jacket</h4>

        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/jacket/jacket.png" alt="1"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">1.699.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Dark Blue Camo Bape
                                    Jacket</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/jacket/jacket2.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">199.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Jamet Jeans Jacket</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/jacket/jacket3.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">599.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Ghostrider Jacket</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/jacket/jacket4.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">1.199.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">All-Branded Jacket</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo3" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo3" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>