<div id="demo7" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
    </ul>

    <!-- The slideshow -->
    <div class="container">
        <h4 class="mb-4 font-weight-bold">Shoes</h4>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/shoes/shoes2.png" alt="1"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">2.899.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Nike Air Jordan Limited
                                    Edision</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/shoes/shoes.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">1.199.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Casual Vans Shoes Cny
                                    Edition</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/shoes/shoes3.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">2.999.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Adidas Nmd RX-1 Black &
                                    White Limited Edition</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/shoes/shoes4.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">2.699.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Converse Chuck Taylor
                                    All-Star Limited Edition

                                </h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo7" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo7" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>