<div id="demo6" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
    </ul>

    <!-- The slideshow -->
    <div class="container">
        <h4 class="mb-4 font-weight-bold">Socks</h4>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/sock/sock.png" alt="1"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">199.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Just Do It Socks</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/sock/sock2.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">149.000</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Ghostrider Socks</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/sock/sock3.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">199.999</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Reebok Vetement Socks
                                </h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card product-box mb-5">
                            <a href="#"><img src="./images/product/sock/sock4.png" alt="2"
                                    class="img-fluid img-thumbnail"></a>
                            <div class="card-body">
                                <li>Rp <span class="money">20</span>/pcs</li>
                                <h1 class="font-weight-bold mt-3 categoryText">Gallabasas Socks</h1>
                            </div>
                            <div class="card-footer">
                                <a href="#">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo6" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo6" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>